@model WorkScheduler.ViewModels.CalendarViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> signInManager;
<h2>Weekly calendar</h2>
@ViewBag.daty
<div class="form-group">
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.DepartmentName, new SelectList(Model.Departments, "Select department"))
    </div>
</div>
<p onmouseover="@Html.DisplayFor(model => model.DepartmentId)">@Html.DisplayFor(model => model.DepartmentName)</p>

<p><a href="&lt;&lt;">&lt;&lt;</a> | <a href="&gt;&gt;">&gt;&gt;</a></p>
<p style="font-size: 1.5em;">&nbsp;</p>

<span>@Html.DisplayFor(model => model.StartWeek) - </span><span>@Html.DisplayFor(model => model.EndWeek)</span>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            @for (int i = 0; i <= 6; i++)
            {
                <th>
                    @Html.DisplayFor(model => model.SevenDays[i].DayOfWeek)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Workers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => employee.Initials)
            </td>
            @if (employee.WorkHours is null)
            {
                @for (int i = 0; i <= 6; i++)
                {
                    <td>
                        @if (signInManager.IsSignedIn(User) && User.Identity.Name == employee.UserName)
                        {
                            <a asp-action="Create" asp-controller="WorkHours" asp-route-id="@employee.Id">Add</a>
                        }
                        else
                        {
                            @ViewBag.None
                        }
                    </td>
                }
            }
            else
            {
                @foreach (var hours in employee.WorkHours@*.Where(x => x.Date >= Model.StartWeek && x.Date <= Model.EndWeek.AddDays(6))*@)
                {
                    <td>
                        @if (signInManager.IsSignedIn(User) && User.Identity.Name == employee.UserName)
                        {
                            <a asp-action="Edit" asp-controller="WorkHours" asp-route-id="@hours.WorkHoursId">@Html.DisplayFor(modelItem => hours.DisplayString)</a>
                        }
                        else
                        {
                            @if (hours.DisplayString is null)
                            {
                                
                            }
                            @Html.DisplayFor(modelItem => hours.DisplayString)
                        }
                    </td>

                }
            }
            <td>
                <a asp-action="Details" asp-route-id="@employee.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
