@model WorkScheduler.ViewModels.CalendarViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> signInManager;




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            @for (int i = 0; i <= 6; i++)
            {
                <th>
                    @Html.DisplayFor(model => model.SevenDays[i].DayOfWeek)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Workers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.Initials)
                </td>

                @foreach (var hours in employee.WorkHours.Where(x => x.Date >= Model.StartWeek && x.Date <= Model.EndWeek.AddDays(6)))
                {
                    <td>
                        @if (employee.WorkHours != null)
                        {
                            @if (signInManager.IsSignedIn(User) && User.Identity.Name == employee.UserName && hours.DisplayString == "-")
                            {
                                <a asp-action="Create" asp-controller="WorkHours" asp-route-id="@employee.Id">Add</a>
                            }
                            else if (signInManager.IsSignedIn(User) && User.Identity.Name == employee.UserName)
                            {
                                <a asp-action="Edit" asp-controller="WorkHours" asp-route-id="@hours.WorkHoursId">@Html.DisplayFor(modelItem => hours.DisplayString)</a>

                            }
                            else if (signInManager.IsSignedIn(User) && User.Identity.Name != employee.UserName)
                            {
                                @Html.DisplayFor(modelItem => hours.DisplayString)
                            }
                        }
                        else
                        {
                            @ViewBag.None
                        }


                        @*@if (signInManager.IsSignedIn(User) && User.Identity.Name == employee.UserName && !(hours is null))
                            {
                                <a asp-action="Edit" asp-controller="WorkHours" asp-route-id="@hours.WorkHoursId">@Html.DisplayFor(modelItem => hours.DisplayString)</a>
                            }
                            else if (signInManager.IsSignedIn(User) && User.Identity.Name == employee.UserName && hours is null)
                            {
                                <a asp-action="Create" asp-controller="WorkHours" asp-route-id="@employee.Id">Add</a>
                            }
                            else if (signInManager.IsSignedIn(User) && User.Identity.Name != employee.UserName && !(hours is null))
                            {
                                @Html.DisplayFor(modelItem => hours.DisplayString)
                            }
                            else
                            {
                                @Html.ViewBag.None
                            }*@
                    </td>

                }
                <td>
                    <a asp-action="Details" asp-route-id="@employee.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
