@model WorkScheduler.ViewModels.EditUserViewModel
<br />
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>  
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTimePerWeek)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkTimePerWeek)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUserData" asp-controller="Account" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>